<table>
  <tr>
    <th>Name</th>
    <th>Powers</th>
  </tr>
 
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= player.powers %></td>
    </tr>
  <% end %>
</table>