<h1>Game Tracker</h1>

<%= render template: "games/index" %>
<p><%= link_to 'Add Game', new_game_path %></p>

<%= render template: "players/index" %>
<p><%= link_to 'Add Player', new_player_path %></p>
