<table>
  <tr>
    <th>Name</th>
    <th>Co-op</th>
    <th>Description</th>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td><%= game.coop %></td>
      <td><%= game.description %></td>
    </tr>
  <% end %>
</table>